@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
}


.container {
	width: 100%;
    min-width: 750px;
	
}

.navigation{
	width: 100%;
    display: flex;
   box-shadow: 0 5px 4px  #00000026;
   background: #000048;
   justify-content: center;
   align-items: center;
}



.options{
    margin: 15px 0px 15px 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* left:25%; */
    justify-content: space-between;
    
}

.navigation span, .options a{
	color: #fff;
	cursor: pointer;
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
.navigation span{
	font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding: 25px 0;
	margin:50px 0 0 0;
}

.main-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
form{
margin: 5% 0;
}



input, select{
	margin-left: 15px;
	width: 100px;
}

#submit{
	margin:25px 0 0 0;
	width: 100px;
	background-color:rgb(255, 255, 255);
	cursor: pointer;
}

.customerDetails{
	width: 30%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	position: relative;
	margin: auto;
	
}

.horizontal{
	
	margin:25px 0;
}

p {
	
	text-align: center;
	font-weight:bold;
}
