<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/createAccount.css}">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>
<title>Account</title>
</head>

<body>
	<div class="container">
		<div class="navigation">

			<span>Cognizant</span>
			<div class="options">

				<a th:href="@{customers}">View Customers</a> 
				<a th:href="@{showCreateCustomerPage}">Create Customer Profile</a> 
				<a th:href="@{showCustomerDetailsPage}"> View Customer Profile</a> 
				<a th:href="@{createAccount}" style="text-decoration: underline;">Create Account</a> 
				<a th:href="@{getCustomerAccountsInput}">View Accounts</a> 
				<a th:href="@{e}">Log Out</a>

			</div>
		</div>
		<div class="main-container">
			<div class="title">Create Account</div>
			<div class="customerIdInput">
				<form th:action="@{createAccountResponse}" method="post">
					<div class="horizontal">
						Customer ID: <input type="number" name="customerId"
							required="required">
					</div>
					<div class="horizontal">
						Account Type: <select id="accountType" name="accountType" required>
					<option value="" selected disabled>Account Type</option>
					<option value="Savings">Savings</option>
					<option value="Current">Current</option>
				</select>
					</div>
					<div class="horizontal">
						Initial Balance: <input type="number" name="initialBalance"
					id="initialBalance" required>
					</div>
					<input type="submit" id="submit">
				</form>

			</div>
		</div>
		
	</div>
	<p th:text="${result}" id="result"></p>
</body>

</html>