<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/Customers.css}">
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>
<title>Customers</title>
</head>

<body>
	<div class="container">
		<div class="navigation">
<!-- 			<img th:src="@{/images/cognizant logo.jpg}" height="50px"> -->
			<span>Cognizant</span>
			<div class="options">

				<a th:href="@{customers}">View Customers</a> <a
					th:href="@{showCreateCustomerPage}">Create Customer Profile</a> <a
					th:href="@{showCustomerDetailsPage}"
					style="text-decoration: underline;"> View Customer Profile</a> <a
					th:href="@{createAccount}">Create Account</a> <a
					th:href="@{getCustomerAccountsInput}">View Accounts</a> <a
					th:href="@{e}">Log Out</a>

			</div>
		</div>
		<div class="main-container">
			<h1>Customers</h1>
			<table>
				<tr>
					<th>Customer ID</th>
					<th>Name</th>
					<th>Gender</th>
					<th>Date of Birth</th>
				</tr>

				<tr th:each="customer:${customers}">
					<td th:text="${customer.customerId}"></td>
					<td
						th:text="${customer.title}+${customer.firstName}+${customer.middleName}+${customer.lastName}"></td>
					<td th:text="${customer.gender}"></td>
					<td th:text="${customer.dateOfBirth}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>